* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 25px;
  height: 100vh;
}

.nav .logo span {
  color: cadetblue;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-links {
  display: flex;
  gap: 18px;
}

header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header h1 {
  line-height: 1;
  font-size: 4.5rem;
}

header p {
  text-align: center;
  width: 70%;
}
